$body-background-color: #72cef050;
$card-dark-side-color: #0084ff;
$btn-input-color: #060657;
$btn-actions-color: #060657;
$hover-btn-input-color: #fff;
$card-border-color: #003464;
$btn-color: #fff;
/*$navbar-background-color: rgba(0, 0, 0, 0.7);*/
$navbar-background-color: rgba(255, 255, 255, 1);
$card-background-color: #fff;
$footer-background-color: #fff;
$footer-li-color: #000;

$heading-font-family: 'Bakbak One', cursive;
$button-font-family: 'Bakbak One', cursive;
$footer-font-family: 'Bakbak One', cursive;