/*$navbar-background-color: rgba(0, 0, 0, 0.7);*/
.course-creation-container {
  padding: 2rem 5rem;
}

.creation-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-weight: 600;
}

.form-control:focus {
  box-shadow: none;
  border-color: #060657;
}

.btn .btn-create-course {
  color: #fff;
  border-color: #fff;
}

.btn .btn-create-course:hover {
  color: #000;
  border-color: #060657;
  background-color: #060657;
}

.courses-table figure {
  width: 5vw;
  margin: 0;
}
.courses-table figure img {
  width: 100%;
}

p {
  padding: 0 0 1.5rem 0;
}

.columns {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  line-height: 2rem;
}
.columns .author-actions {
  padding: 1rem 2rem;
}
.columns .author-actions .btn-actions {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.columns .author-actions .btn-actions button {
  border-style: none;
}
.columns .author-actions .btn-actions button:hover {
  color: #060657;
  background-color: transparent;
}
.columns .course-content {
  grid-column: span 3;
}
.columns .course-content .headings {
  margin-bottom: 2rem;
}
.columns .course-content .headings h3 {
  margin: 1rem auto;
}
.columns .course-content .headings h5, .columns .course-content .headings h6 {
  margin: 0 auto 1rem auto;
}
.columns .course-content .course-block-w-image .course-img-r-in {
  float: right;
}
.columns .course-content .course-block-w-image .course-img-r-in figure {
  width: 15vw;
  margin: 0;
  padding-top: 1rem;
}
.columns .course-content .course-block-w-image .course-img-r-in figure img {
  width: 100%;
}
.columns .course-content .course-block-w-image .course-img-r-in .text-muted {
  padding: 0;
  margin: 0;
  text-align: center;
}
.columns .course-content .course-img-c-full figure {
  width: 100%;
  margin: 0;
  padding-top: 1rem;
}
.columns .course-content .course-img-c-full figure img {
  width: 100%;
}
.columns .course-content .course-img-c-full .text-muted {
  padding: 0;
  margin: 0;
  text-align: center;
}

@media (max-width: 1200px) {
  .columns {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
  }
  .columns .course-content {
    order: 1;
    padding: 0 15vw;
  }
  .columns .author-actions {
    order: 2;
    text-align: center;
  }
  .columns .author-actions .btn-actions {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .columns .author-actions .btn-actions button {
    margin: 0 5vw;
  }
}
@media (max-width: 425px) {
  .columns {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
  }
  .columns .course-content {
    order: 1;
    padding: 0 5vw;
  }
}
.sign-up-container, .sign-in-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding: 3rem 10rem;
}

.sign-up-container h2, .sign-in-container h2 {
  font-weight: 600;
}

.sign-up-container .card, .sign-in-container .card {
  border-style: none;
}

.sign-in-container .card-light-side {
  border-radius: 1rem 0 0 1rem;
}

.sign-in-container .card-dark-side {
  background: #0084ff;
  border-radius: 0 1rem 1rem 0;
}

@media (max-width: 965px) {
  .sign-in-container .card-light-side {
    border-radius: 1rem 1rem 0 0;
  }

  .sign-in-container .card-dark-side {
    background: #0084ff;
    border-radius: 0 0 1rem 1rem;
  }
}
.sign-up-container .card-light-side {
  border-radius: 0 1rem 1rem 0;
}

.sign-up-container .card-dark-side {
  background: #0084ff;
  border-radius: 1rem 0 0 1rem;
}

@media (max-width: 965px) {
  .sign-up-container .card-light-side {
    border-radius: 0 0 1rem 1rem;
  }

  .sign-up-container .card-dark-side {
    background: #0084ff;
    border-radius: 1rem 1rem 0 0;
  }
}
@media (max-width: 650px) {
  .sign-up-container, .sign-in-container {
    padding: 1rem;
  }
}
.card-form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card-form > * {
  margin: 1rem;
}

.card-form button {
  margin: 1rem;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-container input:focus, .sign-up-container textarea:focus,
.sign-in-container input:focus, .sign-in-container textarea:focus {
  box-shadow: none;
  border-color: #060657;
}

.btn-sign-in {
  color: #060657;
  background-color: transparent;
  border-color: #060657;
}

.btn-sign-in:hover {
  color: #fff;
  border-color: #060657;
  background-color: #060657;
}

.btn-sign-up {
  color: #fff;
  border-color: #fff;
}

.btn-sign-up:hover {
  color: #fff;
  border-color: #060657;
  background-color: #060657;
}

label[for=id_first_name], label[for=id_last_name],
label[for=id_username], label[for=id_email],
label[for=id_password], label[for=id_password_confirmation] {
  display: none;
}

/*
.card-move-left:hover {
    transition-delay: 0s;
    transition: .5s ease-in-out;
    transform: translateX(-200px);
}

.card-move-right:hover {
    transition-delay: 0s;
    transition: .5s ease-in-out;
    transform: translateX(200px);
}
*/
.cryptos-container {
  margin: 1rem 5vw;
}
.cryptos-container .top-n-containter {
  margin: 1rem 0;
}
.cryptos-container .crypto-quote-table {
  font-size: calc(0.25rem + 1vw);
}
.cryptos-container .crypto-quote-table .sortable-col {
  cursor: pointer;
}
.cryptos-container .crypto-quote-table .crypto-listing td {
  vertical-align: middle;
}
.cryptos-container .crypto-quote-table .crypto-listing .align-table-number {
  text-align: right;
}
.cryptos-container .crypto-quote-table .crypto-listing .crypto-img-container {
  width: calc(1rem + 2vw);
  display: flex;
  align-items: center;
  justify-content: center;
}
.cryptos-container .crypto-quote-table .crypto-listing .crypto-img-container .crypto-img {
  border-radius: 1rem;
  width: 100%;
}

.content {
  padding: 2rem 5rem;
}

body {
  background-color: #72cef050;
  /*background-image: url("https://media.istockphoto.com/photos/light-blue-denim-fabric-picture-id1057279920");*/
  /*background-image: url("../assets/img/about_me.jpg");*/
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header-logo {
  font-family: "Bakbak One", cursive;
  display: flex;
}
.header-logo > figure {
  margin: 0;
  padding: 0;
}
.header-logo > p {
  margin: 0 0 0 0.5rem;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bakbak One", cursive;
}

main button, section button {
  font-family: "Bakbak One", cursive;
  color: #060657;
  background-color: transparent;
  border-color: #060657;
  font-size: 1rem;
  height: 3rem;
  border-radius: 0.5rem;
}
main button:hover, section button:hover {
  color: #fff;
  background-color: #060657;
}

input:focus, textarea:focus {
  box-shadow: none;
  border-color: #060657;
}

.navbar {
  background-color: white;
}

.mission, .about-me, .about-project, .leave-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}

.mission {
  padding-top: 4rem;
  text-align: center;
}
.mission h1 {
  font-size: 3rem;
}
.mission p {
  font-size: 1.5rem;
  font-weight: 600;
}
.mission button {
  font-size: 2rem;
  font-weight: 800;
  width: 10rem;
  height: 5rem;
}
.mission:hover p span {
  font-weight: 900;
}
.mission:hover button {
  transform: scale(1.1);
}
.mission button:hover {
  background-color: #060657;
  border-color: #060657;
  color: white;
  font-size: 2rem;
  width: 10rem;
  height: 5rem;
}

.content .about-me-container, .about-project .about-me-container, .about-me .about-me-container, .leave-message .about-me-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 17rem), 1fr));
  align-items: center;
  justify-items: center;
  gap: 1rem;
  padding: 2rem 5rem;
}
.content .about-me-container .card, .about-project .about-me-container .card, .about-me .about-me-container .card, .leave-message .about-me-container .card {
  border-radius: 1rem;
  border-style: none;
  padding: 1rem;
  grid-column: span 3;
  font-weight: 100;
}
.content .about-me-container .card .card-title, .about-project .about-me-container .card .card-title, .about-me .about-me-container .card .card-title, .leave-message .about-me-container .card .card-title {
  font-weight: 700;
}
.content .about-me-container .card .card-body, .about-project .about-me-container .card .card-body, .about-me .about-me-container .card .card-body, .leave-message .about-me-container .card .card-body {
  padding: 1rem;
  padding: 0.5rem 1.5rem;
}
.content .about-me-container .card .card-body h6, .about-project .about-me-container .card .card-body h6, .about-me .about-me-container .card .card-body h6, .leave-message .about-me-container .card .card-body h6 {
  padding-bottom: 1rem;
}
.content .about-me-container .figure-about, .about-project .about-me-container .figure-about, .about-me .about-me-container .figure-about, .leave-message .about-me-container .figure-about {
  height: 100%;
  text-align: center;
}
.content .about-me-container .figure-about .img-about, .about-project .about-me-container .figure-about .img-about, .about-me .about-me-container .figure-about .img-about, .leave-message .about-me-container .figure-about .img-about {
  border-radius: 1rem;
  width: 100%;
}
.content .about-me-container:hover .img-about, .about-project .about-me-container:hover .img-about, .about-me .about-me-container:hover .img-about, .leave-message .about-me-container:hover .img-about {
  transform: scale(0.9);
}

.content {
  padding-bottom: 4rem;
}
.content h1 {
  text-align: center;
}
.content .cards-of-content {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(18vw, 1fr));
  padding: 2rem;
  perspective: 10000px;
}
.content .cards-of-content .card {
  border-radius: 1rem;
  border-bottom: 6px solid #003464;
  border-left: 4px solid #003464;
  background: #fff;
  transform: rotateX(-15deg);
}
.content .cards-of-content .card .card-img {
  border-radius: 1rem 1rem 0 0;
}
.content .cards-of-content .card .card-img:hover {
  border-radius: 1rem;
}
.content .cards-of-content .clickable-card {
  text-decoration: none;
  color: black;
}
.content .cards-of-content .clickable-card .img-bounce:hover {
  animation: bounce 1s infinite;
}
.content .cards-of-content .clickable-card:hover {
  color: black;
}
.content .cards-of-content .card:hover {
  border-style: none;
  transform: rotateX(0deg);
}
.content:hover .card {
  transform: scale(0.9);
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
.about-project:hover .card, .about-me:hover .card {
  transform: scale(1.05);
}
.about-project:hover .img-about, .about-me:hover .img-about {
  animation: swing 2s infinite;
}

@keyframes swing {
  0% {
    transform: rotateX(0) rotateY(180deg);
  }
  50% {
    transform: rotateX(15deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(0) rotateY(180deg);
  }
}
.leave-message button {
  width: 100%;
}
.leave-message:hover .card {
  transform: scale(1.1);
}

/*
background: rgba(4, 4, 148, .3);
    background: linear-gradient(0deg, rgba(4, 4, 148, .3) 0%, rgba(0, 132, 255, .1) 100%);

background: rgba(4, 4, 148, .4);
    background: linear-gradient(45deg, rgba(4, 4, 148, .4) 0%, rgba(0, 132, 255, .2) 100%);
*/
.fibo-img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.fibo-img img {
  width: 30%;
  opacity: 0.3;
  border-radius: 50%;
}

/*animation: logo-spin infinite 10s linear;*/
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 750px) {
  .mission {
    padding: 4rem 10vw;
  }

  .content .about-me-container, .about-project .about-me-container, .about-me .about-me-container, .leave-message .about-me-container {
    padding: 2rem 5vw;
    gap: 0;
  }
}
.footer {
  padding: 1rem 5vw 0 5vw;
  margin-top: auto;
  background-color: #fff;
}
.footer .footer-logo {
  text-align: center;
  font-size: max(1.5rem, 4vw);
  font-family: "Bakbak One", cursive;
}
.footer .footer-copyright {
  text-align: center;
  font-size: calc(0.5rem + 0.25vw);
  margin-bottom: 1rem;
}
.footer p {
  font-size: 1rem;
}
.footer a {
  text-decoration: none;
  color: #000;
}
.footer ul {
  padding-left: 0;
}
.footer ul li {
  list-style-type: none;
  margin: 0.5rem 0;
  font-size: 0.75rem;
}

@media (max-width: 768px) {
  .center-footer {
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
